@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
$main-beige: #f3e7a2;
$font-color: #964712;
* {
  box-sizing: border-box;
}
body {
  background-color: $main-beige;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.content {
  position: relative;
}

.menu {
  position: fixed;
  display: block;
  top: 250px;
  left: 10px;
  z-index: 2;
  width: 15%;
  min-height: 300px;
  border: solid;
  border-color: $font-color;
  border-radius: 0px 10px 0px 10px;
  background: linear-gradient(
    90deg,
    rgba(240, 146, 40, 1) 17%,
    rgba(255, 227, 154, 1) 100%
  );
  @media (max-width: 1920px) {
    top: 300px;
  }
  @media (max-width: 1536px) {
    top: 250px;
  }
  @media (max-width: 1366px) {
    top: 220px;
  }
  @media (max-width: 800px) {
    top: 162px;
  }
  @media (max-width: 650px) {
    top: 132px;
  }
  @media (max-width: 500px) {
    top: 102px;
  }
  @media (max-width: 414px) {
    top: 83px;
  }
  @media (max-width: 375px) {
    top: 73px;
  }
  @media (max-width: 360px) {
    top: 70px;
  }

  a {
    text-decoration: none;
  }
}
.main {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: $main-beige;
  font-family: Open Sans;
  color: $font-color;
  .text {
    margin-right: 5%;
    margin-left: 20%;
    margin-top: 15%;
  }
  .main-illustration {
    margin-top: 200px;
    width: 400px;
    @media (max-width: 1920px) {
      margin-top: 300px;
      width: 300px;
    }
    @media (max-width: 1536px) {
      margin-top: 250px;
      width: 250px;
    }
    @media (max-width: 1366px) {
      margin-top: 220px;
      width: 220px;
    }
    @media (max-width: 800px) {
      margin-top: 162px;
      width: 162px;
    }
    @media (max-width: 650px) {
      margin-top: 132px;
      width: 130px;
    }
    @media (max-width: 500px) {
      margin-top: 102px;
      width: 102px;
    }
    @media (max-width: 414px) {
      margin-top: 83px;
      width: 83px;
    }
    @media (max-width: 375px) {
      margin-top: 73px;
      width: 73px;
    }
    @media (max-width: 360px) {
      margin-top: 70px;
      width: 70px;
    }
  }
}
